/*SignInSection*/

.sign-in-section{
    padding: 2rem 0rem;
    background-color: #fffdf6;
}

.sign-in-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75rem;
    margin: auto;
}

.sign-in-section .container h1{
    font-weight: bolder;
    font-family: 'Sawari Gothic', sans-serif;
    margin-bottom: 1rem;
}