/* ===== Importes: Fontes ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

.section{
    flex: 1;
    display: flex;
    width: 100%;
    font-family: 'Sawari Gothic', sans-serif;
}