/*ParagraphSection*/

.paragraph-section{
    justify-content: center;
    background-color: #fffdf6;
    padding: 2rem 0;
}

.paragraph-section .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 75rem;
    margin: auto;
    padding: 0 0.75rem;
}

.paragraph-section .container p,
.paragraph-section .container h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.paragraph-section .container p{
    font-size: 1rem;
}

.paragraph-section .container h1{
    font-weight: bold;
    font-size: 2rem;
}

.no-bg{
    background-color: #00000000;
    color: white;
}